@import url(./common.css);

header {
    position: relative;
    position: fixed;
    width: 100%;
    background-color: #014E56;
    padding: 20px;
    z-index: 2222;
    box-shadow: 0px 1px 10px 2px #012f34a8;

}

header .inner {
    max-width: 1110px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 93%;
}

header .inner .navigation nav ul li a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

header .inner .navigation nav ul li a:hover {
    border-bottom: 1px solid #014E56;
    transition: .5s;
}

header .inner .con {
    display: flex;
    align-items: center;
}

header .inner .con .sign {
    margin-right: 30px;
}

header .inner .con .sign a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0836be;
}

header .inner .con .button a button {
    all: unset;
    cursor: pointer;
    background-color: transparent;
    padding: 13px 40px;
    border: 1px solid #fff;
    color: white;
    border-radius: 30px;
    transition: 1s;
}

header .inner .con .button button:hover {
    background-color: white;
    color: #012F34;
    border-radius: 30px;


}
header .inner .con .button button a {
    transition: .5s;
}


.navigation {
    position: relative;
}

nav ul {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 60px;
}

.navigation ul li a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    transition: 0.5s;
}

.navigation a::before {
    content: "" attr(data-menu) "";
    position: absolute;
    z-index: 1;
    color: #ffffff;
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.navigation a:hover::before {
    width: 100%;
}

input#toggle-icon,
.toggle-icon {
    display: none;
}

/* main start */

main {
    /* background-color: #014E56; */
    padding-top: 10px;
    /* padding-bottom: 200px; */
    /* height: auto; */
}

main .section1 {
    color: white;
    background-color: #014E56;
    padding-top: 100px;
    /* background-image: url(../img/header.png);
    background-size: cover; */
    /* background-position: bottom; */
}

main .section1 .rasm img {
    width: 100%;
}

main .section1 .s {
    max-width: 1110px;
    margin: auto;
    width: 90%;
    margin: auto;
}

main .section1 .s .bottom {
    text-align: end;
}

main .section1 .sec1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 140px;
}

main .section1 .sec1 .left {
    width: 100%;
}

main .section1 .sec1 .right {
    width: 100%;
}

main .section1 .sec1 .left h1 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}

main .section1 .sec1 .right p {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

main .section1 .sec1 .right img {
    margin-bottom: 50px;
}

main .section2 {
    background-color: #012F34;
    color: white;
    margin-top: -8px;
    display: flex;
    position: relative;
}

main .section2 .sec2 {
    max-width: 1110px;
    width: 90%;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 100px;
}

main .section2 .sec2 .s2 .left .ciziq2 {
    margin-bottom: 40px;
}

main .section2 .sec2 .s2 .left h1 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

main .section2 .sec2 .s2 {
    display: flex;
    justify-content: space-between;
}

main .section2 .sec2 .s2 .right .ong {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* margin-left: -100px; */
}

main .section2 .sec2 .s2 .right .ong img {
    margin-right: 20px;
}

main .section2 .icon-right {
    position: absolute;
    right: 0;
    bottom: 0;

}

main .section3 {
    background-color: #004047;
    position: relative;
}

main .section3 .sec3 {
    width: 100%;
    height: auto;
    width: 97%;
    margin: auto;
    background-position: center;
    background-size: cover;
    max-width: 1110px;
    margin: auto;
    padding-bottom: 150px;
}

main .section3 .rassm img {
    position: absolute;
    width: 10%;
}

main .section3 .rassm2 img {
    position: absolute;
    right: 0;
    bottom: 0;
}

main .section3 .sec3 h1 {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

main .section3 .sec3 h1 span {
    color: #79C8C7;
}

main .section3 .sec3 .uch .one {
    color: white;
    width: 30%;
}

main .section3 .sec3 .uch {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
}

main .section3 .sec3 .uch .one .pi {
    margin-top: -30px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

main .section3 .sec3 .uch .one img {
    margin-top: 20px;
}

main .section3 .sec3 .uch .one .pro {
    font-family: 'Livvic';

}

main .section4 {
    position: relative;
    background-color: #F67E7E;
    height: auto;
    padding: 40px 0px;
}

main .section4 .rassm img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
}

main .section4 .sec4 {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
}

main .section4 .sec4 h1 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    color: #012F34;
    margin-left: 100px;
}

main .section4 .sec4 button {
    all: unset;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 25px;
    color: #012F34;
    border: 1px solid #012F34;
    transition: .5s;
}

main .section4 .sec4 button:hover {
    background-color: #012F34;
    color: white;
}

main .section4 .sec4 .left {
    display: flex;
    align-items: center;
}

footer {
    background-color: #002529;
    margin-top: -7px;
    padding: 40px 0px;
}

footer .sec5 {
    max-width: 1110px;
    margin: auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 97%;
    margin: auto;
}

footer .sec5 .bir .bir1 {
    display: flex;
    margin-top: 25px;
}

footer .sec5 .bir .bir1 a {
    transition: .5s;
}

footer .sec5 .bir .bir1 a:hover {
    color: gray;
}

footer .sec5 .bir .bir1 .i {
    margin-left: 30px;
}


footer .sec5 .ikki p {
    color: rgb(223, 219, 219);
    cursor: pointer;
    transition: .5s;
}

footer .sec5 .ikki p:hover {
    color: grey;
}

footer .sec5 .uch .end {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

footer .sec5 .uch p {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
}
footer .sec5 .on {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .sec5 .uch .img {
    margin-right: 16px;
}

footer .sec5 .uch img:hover {
    box-shadow: 0px 0px 10px 2px rgba(217, 215, 215, 0.314);
}






@media (max-width: 1375px) {
    main .section1 .s .sec1 .left h1 {
        font-size: 80px;
    }
}

@media (max-width: 1111px) {
    main .section2 .sec2 .s2 .left h1 {
        font-size: 38px;
    }

    main .section2 .icon-right img {
        width: 70%;
    }

    main .section3 .rassm img {
        width: 15%;
    }

    main .section3 .rassm2 img {
        width: 15%;
    }
}

@media (max-width: 1050px) {
    main .section2 .sec2 .s2 {
        flex-direction: column;
    }

    main .section2 .sec2 .s2 .right .ong {
        justify-content: center;
    }

    main .section2 .sec2 .s2 .left {
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 1000px) {
    main .section1 .s .sec1 .left h1 {
        font-size: 70px;
    }

    main .section1 .s .sec1 .right p {
        font-size: 16px;
    }

    main .section1 .s .sec1 .right img {
        margin-bottom: 20px;
    }

    main .section1 .s .bottom img {
        width: 40%;
    }

    main .section3 .sec3 h1 {
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 970px) {
    header {
        padding: 40px 50px;
        padding-bottom: 10px;
    }

    header .inner .logo-wrap .logo2 {
        margin-top: -10px;
    }

    header .inner .navigation nav ul li a {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #4F5665;
    }

    header .inner .navigation nav ul li a:hover {
        border-bottom: 1px solid #014E56;
        transition: .5s;
    }

    header .inner .con {
        display: none;
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background: #012F34;
        padding-bottom: 5px;
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white !important;
        padding: 15px 10px;
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* overflow: hidden; */
        padding-top: 30px;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;
    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }
}

@media (max-width: 790px) {
    main .section1 .s .sec1 .left h1 {
        font-size: 60px;
    }

    main .section1 .s .sec1 .right p {
        font-size: 15px;
    }
}

@media (max-width: 717px) {
    main .section3 .rassm img {
        width: 20%;
    }

    main .section3 .rassm2 img {
        width: 20%;
    }
}

@media (max-width: 750px) {
    main .section3 .sec3 .uch {
        flex-direction: column;
    }

    main .section3 .sec3 .uch .one {
        width: 50%;
        margin: auto;
    }
    footer .sec5 {
      flex-direction: column;
    }
    footer .sec5 .on {
        margin-left: -1px;
        margin-top: 40px;
    }
}

@media (max-width: 680px) {
    main .section1 .s .sec1 {
        flex-direction: column;
    }

    main .section1 .s .bottom img {
        width: 70%;
    }
}

@media (max-width: 680px) {
    main .section1 .s .bottom img {
        width: 90%;
    }
}

@media (max-width: 750px) {
    main .section3 .sec3 .uch .one {
        width: 70%;
        margin: auto;
    }

    main .section4 .sec4 .left h1 {
        font-size: 38px;
    }
}

@media (max-width: 650px) {
    main .section4 .sec4 {
        flex-direction: column;
    }

    main .section4 .sec4 h1 {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 622px) {
    main .section3 .sec3 h1 {
        font-size: 38px;
    }
}

@media (max-width: 571px) {
    footer .sec5 {
        flex-direction: column;
        text-align: center;
    }

    footer .sec5 .bir .bir1 {
        justify-content: center;
    }

    footer .sec5 .bir {
        margin-bottom: 20px;
    }

    footer .sec5 .ikki {
        margin-bottom: 20px;
    }
}

@media (max-width: 515px) {
    main .section3 .rassm img {
        width: 25%;
    }

    main .section3 .rassm2 img {
        width: 25%;
    }
}

@media (max-width: 505px) {
    footer .sec5 .on {
        flex-direction: column;
    }
    footer .sec5 .on .uch .end {
        text-align: center;
        justify-content: center;
    }
    footer .sec5 .on .uch p {
        text-align: center;
    }

}

@media (max-width: 494px) {
    main .section3 .sec3 h1 {
        font-size: 33px;
    }
}

@media (max-width: 440px) {
    main .section3 .sec3 .uch .one {
        width: 97%;
        margin: auto;
    }
}

@media (max-width: 430px) {
    main .section3 .sec3 h1 {
        font-size: 28px;
    }
}

@media (max-width: 414px) {
    main .section3 .rassm img {
        width: 30%;
    }

    main .section3 .rassm2 img {
        width: 30%;
    }
}

@media (max-width: 313px) {
    main .section3 .rassm img {
        width: 35%;
    }

    main .section3 .rassm2 img {
        width: 35%;
    }
}